.form {

	$parent: &;

	&__label {
		display: block;
		margin-bottom: 1.5rem;

		font-size: 1.5rem;
		font-weight: $font-semibold;
		color: $black;
		line-height: 100%;
	}

	&__input {
		height: 56px;
		width: 100%;
		padding-left: 3rem;

		border: none;
		border-radius: 8px;
		background-color: $blue-light;

		font-size: 1.5rem;

		&::placeholder {
			font-size: 1.5rem;
			font-weight: $font-medium;
			color: $blue;
		}
	}

	&__input-textarea {
		min-height: 17rem;
		padding-right: 3rem;
		padding-bottom: 2rem;
	}

	&__item,
	&__item + &__item {
		margin-top: 2rem;
		line-height: 1.4;
	}

	&__item-checkbox {
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
	}

	&__checkbox {
		white-space: 20px;
		height: 20px;
	}

	&__label-consent {
		font-size: 1.3rem;
		font-weight: $font-light;
		line-height: 140%;
	}

	.btn {
		display: block;
		width: 100%;
		max-width: 440px;
		margin-left: auto;
		margin-right: auto;
	}
}

.option {
	display: block;
}

textarea {
	padding-top: 2rem;
	min-height: 170px;
}


@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 960px) {


}

@media only screen and (max-width: 780px) {


}

@media only screen and (max-width: 640px) {


}

@media only screen and (max-width: 480px) {

	.form__item, .form__item + .form__item { line-height: 1; }
}

@media only screen and (max-width: 375px) {


}

@media only screen and (max-width: 320px) {


}