.sertificat {
    position: relative;

    &__tagline {
        max-width: 540px;
        font-size: 2.8rem;
        font-weight: $font-medium;
        line-height: 1.4;
        letter-spacing: -0.01em;
    }

    &__content {
        position: relative;
        padding-top: 160px;
        padding-bottom: 130px;

        .img {
            position: absolute;
            top: -20px;
            right: -70px;
            max-width: 580px;
        }
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='1700' height='605' viewBox='0 0 1700 605' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='76' cy='529' r='75.5' stroke='%2300D2D8'/%3E%3Cpath d='M1650 37.1656C1650 25.6751 1640.39 16.5392 1628.92 17.1613C1532.2 22.4056 1123.95 43.6243 850 43.6243C576.055 43.6243 167.8 22.4056 71.0811 17.1613C59.6074 16.5392 50 25.6751 50 37.1656V550.397C50 562.049 59.9205 571.242 71.5412 570.384C169.087 563.184 576.487 534.376 850 534.376C1123.51 534.376 1530.91 563.184 1628.46 570.384C1640.08 571.242 1650 562.049 1650 550.397L1650 37.1656Z' fill='url(%23paint0_linear)'/%3E%3Ccircle cx='1697.93' cy='482.528' r='2.07091' transform='rotate(-180 1697.93 482.528)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='482.528' r='2.07091' transform='rotate(-180 1667.56 482.528)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='482.528' r='2.07091' transform='rotate(-180 1637.18 482.528)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='482.528' r='2.07091' transform='rotate(-180 1606.81 482.528)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='482.528' r='2.07091' transform='rotate(-180 1576.44 482.528)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='452.155' r='2.07091' transform='rotate(-180 1697.93 452.155)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='452.155' r='2.07091' transform='rotate(-180 1667.56 452.155)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='452.155' r='2.07091' transform='rotate(-180 1637.18 452.155)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='452.155' r='2.07091' transform='rotate(-180 1606.81 452.155)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='452.155' r='2.07091' transform='rotate(-180 1576.44 452.155)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='421.781' r='2.07091' transform='rotate(-180 1697.93 421.781)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='421.781' r='2.07091' transform='rotate(-180 1667.56 421.781)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='421.781' r='2.07091' transform='rotate(-180 1637.18 421.781)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='421.781' r='2.07091' transform='rotate(-180 1606.81 421.781)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='421.781' r='2.07091' transform='rotate(-180 1576.44 421.781)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='391.408' r='2.07091' transform='rotate(-180 1697.93 391.408)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='391.408' r='2.07091' transform='rotate(-180 1667.56 391.408)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='391.408' r='2.07091' transform='rotate(-180 1637.18 391.408)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='391.408' r='2.07091' transform='rotate(-180 1606.81 391.408)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='391.408' r='2.07091' transform='rotate(-180 1576.44 391.408)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='361.034' r='2.07091' transform='rotate(-180 1697.93 361.034)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='361.034' r='2.07091' transform='rotate(-180 1667.56 361.034)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='361.034' r='2.07091' transform='rotate(-180 1637.18 361.034)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='361.034' r='2.07091' transform='rotate(-180 1606.81 361.034)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='361.034' r='2.07091' transform='rotate(-180 1576.44 361.034)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='330.661' r='2.07091' transform='rotate(-180 1697.93 330.661)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='330.661' r='2.07091' transform='rotate(-180 1667.56 330.661)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='330.661' r='2.07091' transform='rotate(-180 1637.18 330.661)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='330.661' r='2.07091' transform='rotate(-180 1606.81 330.661)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='330.661' r='2.07091' transform='rotate(-180 1576.44 330.661)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='300.287' r='2.07091' transform='rotate(-180 1697.93 300.287)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='300.287' r='2.07091' transform='rotate(-180 1667.56 300.287)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='300.287' r='2.07091' transform='rotate(-180 1637.18 300.287)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='300.287' r='2.07091' transform='rotate(-180 1606.81 300.287)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='300.287' r='2.07091' transform='rotate(-180 1576.44 300.287)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='269.914' r='2.07091' transform='rotate(-180 1697.93 269.914)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='269.914' r='2.07091' transform='rotate(-180 1667.56 269.914)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='269.914' r='2.07091' transform='rotate(-180 1637.18 269.914)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='269.914' r='2.07091' transform='rotate(-180 1606.81 269.914)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='269.914' r='2.07091' transform='rotate(-180 1576.44 269.914)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='239.541' r='2.07091' transform='rotate(-180 1697.93 239.541)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='239.541' r='2.07091' transform='rotate(-180 1667.56 239.541)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='239.541' r='2.07091' transform='rotate(-180 1637.18 239.541)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='239.541' r='2.07091' transform='rotate(-180 1606.81 239.541)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='239.541' r='2.07091' transform='rotate(-180 1576.44 239.541)' fill='%23FFE700'/%3E%3Ccircle cx='1697.93' cy='209.168' r='2.07091' transform='rotate(-180 1697.93 209.168)' fill='%23FFE700'/%3E%3Ccircle cx='1667.56' cy='209.168' r='2.07091' transform='rotate(-180 1667.56 209.168)' fill='%23FFE700'/%3E%3Ccircle cx='1637.18' cy='209.168' r='2.07091' transform='rotate(-180 1637.18 209.168)' fill='%23FFE700'/%3E%3Ccircle cx='1606.81' cy='209.168' r='2.07091' transform='rotate(-180 1606.81 209.168)' fill='%23FFE700'/%3E%3Ccircle cx='1576.44' cy='209.168' r='2.07091' transform='rotate(-180 1576.44 209.168)' fill='%23FFE700'/%3E%3Ccircle cx='187.083' cy='27.0833' r='26.0833' stroke='%23FFE700' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='1650' y1='16' x2='3.25668' y2='276.398' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300DADA'/%3E%3Cstop offset='1' stop-color='%23005CFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}


@media only screen and (max-width: 1366px) {

    .sertificat__content .img {
        right: 50px;
        top: 30px;
        max-width: 500px;
    }

    .sertificat__content { padding-bottom: 100px; }
}


@media only screen and (max-width: 1280px) {


}


@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 960px) {

    .sertificat__content .img {
        margin-bottom: 40px;
        position: static;
        max-width: 100%;
    }

    .sertificat__content .btn--yellow { display: block; }

    .sertificat { background-image: none; }

    .sertificat__tagline { max-width: 100%; }

    .sertificat__content {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media only screen and (max-width: 780px) {


}

@media only screen and (max-width: 640px) {

    .sertificat__content .img { margin-bottom: 20px; }

    .sertificat__tagline { font-size: 2rem; }

    .sertificat__content .btn--yellow { margin-top: 1em; }
}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 375px) {


}

@media only screen and (max-width: 320px) {


}