<footer class="section footer">
    <div class="container">
        <div class="footer__content">
            <div class="container__columns">
                <div class="footer__content-column">
                    <div class="footer__column-title">Полезное</div>
                    <ul class="list footer__list">
                        <li class="list__item"><a href="https://edprodpo.com/about/" target="_blank">Об академии</a></li>
                        <li class="list__item"><a href="https://edprodpo.com/about/text/" target="_blank">Отзывы</a></li>
                        <li class="list__item"><a href="https://edprodpo.com/blog/" target="_blank">Блог</a></li>
                        <li class="list__item"><a href="https://edprodpo.com/contacts/" target="_blank">Контакты</a></li>
                        <li class="list__item"><a href="https://support-group.online/" target="_blank">Задать вопрос</a></li>
                    </ul>
                </div>
                <div class="footer__content-column">
                    <div class="footer__column-title">Студентам</div>
                    <ul class="list footer__list">
                        <li class="list__item"><a href="https://edprodpo.com/programs/" target="_blank">Программы обучения</a></li>
                        <li class="list__item"><a href="https://edprodpo.com/events/" target="_blank">Наши мероприятия</a></li>
                        <li class="list__item"><a href="https://edprodpo.com/about/documents/" target="_blank">Лицензии и дипломы</a></li>
                    </ul>
                </div>
                <div class="footer__content-column">
                    <div class="footer__adress">
                        ООО "Международная академия дополнительного
                        профессионального образования" <br>
                        ИНН: 7734432085 <br>
                        ОГРН: 1197746745635 <br>
                        Адрес офиса: 123290, Москва, 1 Магистральный тупик, 11с1 <br>
                        8 (800) 600-40-97 <br>
                        support@lp.edprodpo.com
                    </div>
                </div>
                <div class="footer__content-column">
                    <div class="footer__contact">
                        <div class="contact contact--phone">
                            <div class="contact__value">8-800-333-77-80</div>
                            <div class="contact__text">ежедневно с 10 до 19 ч</div>
                            <a href="tel:+78003337780"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-column">
                <div class="logo logo--white"><a href="https://edprodpo.com/" target="_blank"></a></div>
            </div>
            <div class="footer__bottom-column">
                <ul class="list footer__list">
                    <li class="list__item"><a href="https://edprodpo.com/confidentiality.pdf" target="_blank">Политика конфиденциальности</a></li>
                    <li class="list__item"><a href="https://edprodpo.com/oferta.pdf" target="_blank">Публичная оферта</a></li>
                    <li class="list__item"><a href="https://edprodpo.com/personal.pdf" target="_blank">Согласие на обработку персональных данных</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>