<header class="header">
    <div class="header__bg"></div>
    <section class="section">
        <div class="container">
            <nav class="header__nav">
                <div class="logo logo--white"><a href="https://edprodpo.com/" target="_blank"></a></div>
                <div class="header__contact">
                    <div class="contact contact--phone">
                        <div class="contact__value">8-800-333-77-80</div>
                        <div class="contact__text">Горячая линия</div>
                        <a href="tel:+78003337780"></a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
</header>