<div id="modal-form" class="modal js-modal">
	<div class="modal__container js-modal-container">
		<div class="modal__form">
			<form class="form">

				<div class="modal__title js-modal-title"><!-- append from modal.js --></div>
				<div class="modal__radio-buttons js-modal-radio"><!-- append from modal.js --></div>

				<p class="form__item"><input class="input" name="Имя" type="text" placeholder="Поле стандартное"></p>
				<p class="form__item"><input class="input -invalid" name="Имя" type="text" placeholder="Поле не валидно"></p>
				<p class="form__item"><input class="input -valid" name="Телефон" type="text" placeholder="Поле валидно"></p>

				<p class="form__item">
					<label class="check check--personal">
						<input class="check__input" type="checkbox">
						<span class="check__box"></span>
						Я даю согласие на обработку моих
						<a class="link" href="https://edprodpo.com/personal.pdf" target="_blank">персональных данных</a>
						в соответствии с условиями
						<a class="link" href="https://edprodpo.com/confidentiality.pdf" target="_blank">«Политики конфиденциальности»</a>
						и <a class="link" href="https://edprodpo.com/oferta.pdf" target="_blank">«Публичной оферты»</a>
					</label>
				</p>
				<p class="form__item">
					<input class="btn" type="submit" value="Отправить">
				</p>
			</form>

			<!-- /* MESSAGE FOR SUCCESS SUBMIT */ -->
			<!-- just change state from classList.add('--active') -->
			<!-- ================================================================================= -->
			<div class="modal__form-success js-form-success --active">
				<div class="modal__title">Спасибо, менеджер свяжется с вами в течение суток</div>
				<button class="btn js-modal-close" type="button">Ок</button>
			</div>
			<!-- ================================================================================= -->

		</div>
		<div class="modal__close js-modal-close">
			<svg class="icon">
				<use href="assets/images/svg/sprite.svg#icon-close"></use>
			</svg>
		</div>
	</div>
</div>

<div id="modal-video" class="modal js-modal">
	<div class="modal__container js-modal-container">
		<!-- append child from modal.js -->
		<div class="modal__close js-modal-close">
			<svg class="icon">
				<use href="assets/images/svg/sprite.svg#icon-close"></use>
			</svg>
		</div>
	</div>
</div>
